html{
    font-size: 16px;
}



#main{
    max-width: 100vw;
    min-height: 100vh;
    background-color: cornflowerblue;
    display: grid;
    grid-template-areas: 
    "navBar header"
    "navBar iconsContainer"
    "navBar codeContainer"
    ;
    margin: 0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10rem auto auto;

}

#navBar{
    grid-area: navBar;
}

#header{
    grid-area: header;
}

#iconsContainer{
    grid-area: iconsContainer;
}

#codeContainer{
    grid-area: codeContainer;
}

.color{
    background: coral;
}

.color2{
    background: grey;
}