html{
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
        letter-spacing: 0.1rem;
}



#main{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #f7f7f7;
    ;
    display: grid;
    grid-template-areas: 
    "navBar header"
    "navBar iconsContainer"
    "navBar codeContainer"
    ;
    margin: 0;
    grid-template-columns: 5rem 5fr;
    grid-template-rows: repeat(minmax(10rem, 20rem)) auto auto;

}

#navBar{
    position: fixed;
    grid-area: navBar;
    background-color: #323643;
    display: grid;
    grid-template-areas: 
    "hamburgerSection menuContainer"
    "empty menuContainer"
    "logoContainer brandContainer"
    ;
    height: 100vh;
    z-index: 3;

    
    grid-template-rows: 5rem auto 5rem;
    grid-template-columns: 5rem repeat(minmax(0px, 30rem));
}

#hamburgerSection{
    grid-area: hamburgerSection;
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
}


#empty{
    grid-area: empty;
}

/* hamburger css and animation at the bottom */ 

#menuContainer{
    grid-area: menuContainer;
    /* display:none; */
    display : flex;
    flex-direction: column;
    justify-content: center;
    width: 0rem;
    opacity: 0;

}

a{
    
    text-decoration: none;
    font-size: 1.5rem;
    color : white;
    display: inline-block;
}
a:hover{
    /* -webkit-text-stroke: 0.5px white; */
    /* color: #FB7813; */
    margin-bottom: -0.5rem;
    border-bottom: solid #FB7813 0.5rem;

}

ul{
    list-style-type: none;
    padding: 0.5rem;
}
li{
    margin: 4rem 0 ;
}

#logoContainer{
    grid-area: logoContainer;
    display: flex;
    align-items: center;
    background-color: #606470;
}

#logo{
    filter: invert(100%);
    width: 4rem;
    height: 4rem;
}

#brandContainer{
    grid-area: brandContainer;
    /* display:none; */
    display : flex;
    align-items: center;
    background-color: #606470;
    width: 0rem;
    opacity: 0;
}

#brandName{
    align-self: center;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}


.closeMenu{
    display : flex !important;
    animation: closeMenu .5s linear forwards;
}

.openMenu{
    display : flex !important;
    animation: openMenu .5s linear forwards;
    /* display: none !important; */
}

@keyframes closeMenu{
    0%{ width: 25rem;  opacity : 1;}
    50%{width: 10rem;  opacity: 0; }
    100%{width: 0rem;  opacity: 0; display: none !important; padding: 0;}
    
}

@keyframes openMenu{
    0%{ width: 0rem;  opacity: 0;}
    50%{width: 10rem;  opacity: 0; }
    100%{width: 25rem;  opacity : 1;}
}



/*********************************************************************************************** HEADER ***************************************************** */

#header{
    width: 100%;
    margin: auto;
    grid-area: header;
    background-color: #f7f7f7;
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: solid #606470 1rem;
}

#title{
    color: #FB7813;
}

/*********************************************************************************************** ICONS CONTAINER ***************************************************** */


#iconsContainer{
    width: 80%;
    margin: auto;
    grid-area: iconsContainer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    padding: 0;
}



/* .cardContainer{
    margin: 2rem;
    width: 20rem;
    height: 20rem;
    background-color: #606470;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} */

.animationCardName{
    font-size: 2rem;
    color: white;
}

.iconToTestContainer{
    width: 5rem;
    height: 5rem;
    background-color: white;
}

/* .getCodeBtn{
    width : 10rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: white;
    color: #323643;
    border-radius: 12px;
    border: none;
    outline: none; 
    cursor: pointer;
} */

.buttonHovered:hover{
    color: #FB7813 !important;
}

/* .getCodeBtn:hover{
    color: #FB7813;
} */
/*********************************************************************************************** CODE CONTAINER ***************************************************** */


#codeContainer{
    grid-area: codeContainer;
    height:auto;
    width: 80%;
    margin: auto;
    background-color: #f7f7f7;
    margin: auto;
    padding: 2rem;
}

#codeGenerator{
    
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #606470;
}

#codeGeneratorTitle{
    padding: 1rem;
    color: #f7f7f7;
    font-size: 1.5rem;
}

#codeTextArea{
    background-color: #f7f7f7;
    width: 90%;
    height: 20rem;
    margin: 0.5rem;
    border-radius: 12px;
    position: relative;
}

#textAreaOverlay{
    position : absolute;
    width: 100%;
    height: 100%; 
    background-color: rgba(50, 54, 67, 0.5); 
    border-radius: 12px;
    display: none;
}

.showOverlay{
    display: flex !important;
    justify-content: center;
    align-items: center;
    animation : showOverlay 2s linear forwards;
}

@keyframes showOverlay{
    from{display: flex; opacity : 1;}
    to{ opacity : 0;}
}

#textAreaOverlay p{
    color : #f7f7f7;
    font-size : 2rem;
}

#codeContent{
    border: solid #FB7813 0.5rem;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border-radius: 12px;
    resize: none;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 1.2rem;
    background-color: #ececec; 
    border-radius: 12px;
}
  
  textarea::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FB7813; 
}

#copyButtonContainer{
    width: 90%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;
    
}

#copyButton{
    width : 5rem;
    height: 3rem;
    padding: 0.2rem;
    font-size: 1.3rem;
    background-color: white;
    color: #323643;
    border-radius: 12px;
    border: none;
    outline: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

#copyButton:hover #copySvg{
    fill: #323643;
}

#copySvg{
    fill: #FB7813;
    width: 100%;
    height: 100%;
}

.color{
    background: white;
    border: black solid 1px; 
}

.color2{
    background: grey;
    border: black solid 1px;
}

/* *********************************************************** show animation hamburger menu ******************************************** */

#showAnimationHamburgerContainer{
    width : 5rem;
    height: 5rem;
    position : relative;
    display: flex;
    justify-content : space-evenly;
    align-items : center;
    flex-direction : column;
    }
    
    #showAnimationLabel{
    width : 100%;
    height : 100%;
    background-color : none;
    /* border : solid #FB7813 2px; */
    display : flex;
    align-items: center;
    flex-direction : column;
    border-radius : 15px;
    }
    
    #showAnimationToggle{
    position : absolute;
    visibility : hidden;
    }
    
    .showAnimationLine{
    width: 80%;
    height : 14%;
    margin-top : 14%;
    background-color: #323643;
    position : relative;
    border-radius : 12px;
    }


    .animateLines .showAnimationLine:nth-child(1){
        animation : autoAnimate1  1s forwards;
    }

    .animateLines .showAnimationLine:nth-child(2){
        animation : autoAnimate2  1s forwards;
    }

    .animateLines .showAnimationLine:nth-child(3){
        animation : autoAnimate3  1s forwards;
    }

    .initialLines .showAnimationLine:nth-child(1){
        animation : autoAnimateInitial1  1s forwards;
    }

    .initialLines .showAnimationLine:nth-child(2){
        animation : autoAnimateInitial2  1s forwards;
    }

    .initialLines .showAnimationLine:nth-child(3){
        animation : autoAnimateInitial3  1s forwards;
    }
 


    /* ANIMATIONS */ 

    

    @keyframes autoAnimate1{
        0%{ transform-origin: right; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
        25%{ }
        50%{ }
        75%{ }
        100%{ transform-origin: right; transform : translate(-51%, 462%) rotate(135deg) scale(0.7);  opacity: 1;}
        }
        
        @keyframes autoAnimate2{
        0%{ transform-origin: center; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
        25%{ }
        50%{ }
        75%{ }
        100%{ transform-origin: center; transform : translate(0, 0%) rotate(90deg) scale(1);  opacity: 1;}
        }
        
        @keyframes autoAnimate3{
        0%{ transform-origin: right; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
        25%{ }
        50%{ }
        75%{ }
        100%{ transform-origin: right; transform : translate(-48%, 70%) rotate(45deg) scale(0.7);  opacity: 1;}
        }
        
        @keyframes autoAnimateInitial1{
        0%{ transform-origin: right; transform : translate(-51%, 462%) rotate(135deg) scale(0.7);  opacity: 1;}
        25%{ }
        50%{ }
        75%{ }
        100%{ transform-origin: right; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
        }
        
        @keyframes autoAnimateInitial2{
        0%{ transform-origin: center; transform : translate(0, 0%) rotate(90deg) scale(1);  opacity: 1;}
        25%{ }
        50%{ }
        75%{ }
        100%{ transform-origin: center; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
        }
        
        @keyframes autoAnimateInitial3{
        0%{ transform-origin: right; transform : translate(-48%, 70%) rotate(45deg) scale(0.7);  opacity: 1;}
        25%{ }
        50%{ }
        75%{ }
        100%{ transform-origin: right; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
        }

/* *********************************************************** main hamburger menu ******************************************** */
#mainleftArrowHamburgerContainer{
    width : 4rem;
    height: 4rem;
    position : relative;
    display: flex;
    justify-content : space-evenly;
    align-items : center;
    flex-direction : column;
    }
    
    #mainleftArrowLabel{
    width : 100%;
    height : 100%;
    background-color : #F7F7EE;
    display : flex;
    align-items: center;
    flex-direction : column;
    cursor : pointer;
    border-radius : 15px;
    }
    
    #mainleftArrowToggle{
    position : absolute;
    visibility : hidden;
    }
    
    .mainleftArrowLine{
    width: 80%;
    height : 14%;
    margin-top : 14%;
    background-color : #323643;
    position : relative;
    border-radius : 12px;
    }
    
    @keyframes mainleftArrowAnimate1{
    0%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1); opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, 220%) rotate(-45deg) scale(0.7); opacity: 1;}
    }
    
    @keyframes mainleftArrowAnimate2{
    0%{ transform-origin: center; transform : translate(0, 0) rotate(0deg) scale(1); opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: center; transform : translate(0, 0%) rotate(0deg) scale(1); opacity: 1;}
    }
    
    @keyframes mainleftArrowAnimate3{
    0%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1); opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, -220%) rotate(45deg) scale(0.7); opacity: 1;}
    }
    
    @keyframes mainleftArrowInitial1{
    0%{ transform-origin: left; transform : translate(0, 220%) rotate(-45deg) scale(0.7); opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1); opacity: 1;}
    }
    
    @keyframes mainleftArrowInitial2{
    0%{ transform-origin: center; transform : translate(0, 0%) rotate(0deg) scale(1); opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: center; transform : translate(0, 0) rotate(0deg) scale(1); opacity: 1;}
    }
    
    @keyframes mainleftArrowInitial3{
    0%{ transform-origin: left; transform : translate(0, -220%) rotate(45deg) scale(0.7); opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1); opacity: 1;}
    }
    
    #mainleftArrowToggle:checked ~ #mainleftArrowLabel .mainleftArrowLine:nth-child(1){
    animation : mainleftArrowAnimate1 .5s forwards;
    }
    
    #mainleftArrowToggle:checked ~ #mainleftArrowLabel .mainleftArrowLine:nth-child(2){
    animation : mainleftArrowAnimate2 .5s forwards;
    }
    
    #mainleftArrowToggle:checked ~ #mainleftArrowLabel .mainleftArrowLine:nth-child(3){
    animation : mainleftArrowAnimate3 .5s forwards;
    }
    
    .mainleftArrowLine:nth-child(1){
    animation: mainleftArrowInitial1 .5s forwards;
    }
    
    .mainleftArrowLine:nth-child(2){
    animation: mainleftArrowInitial2 .5s forwards;
    }
    
    .mainleftArrowLine:nth-child(3){
    animation: mainleftArrowInitial3 .5s forwards;
    }